/* Global fonts variables */
:root{
    --fw-100{
        font-weight: 100;
    }
    --fw-200{
        font-weight: 200;
    }
    --fw-300{
        font-weight: 300;
    }
    --fw-400{
        font-weight: 400;
    }
    --fw-500{
        font-weight: 500;
    }
    --fw-600{
        font-weight: 600;
    }
    --fw-700{
        font-weight: 700;
    }  
    --fw-800{
        font-weight: 800;
    }
    --fw-900{
        font-weight: 900;
    }

}

/* Global fonts styles */

html {
  font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
text-transform: capitalize;
}



.h1 {
  font-size: clamp(3.5rem, 8vw, 5.61rem);
  font-weight: 1000;
  line-height: clamp(3.2rem, 8vw, 5.2rem);
}


.h2 {
  font-size: clamp(2.5rem, 6vw, 4.2rem);
  font-weight: 800;
  line-height: clamp(2rem, 5vw, 2.2rem);
}

.h3 {
  font-size: clamp(1.8rem, 4vw, 3.15rem);
  line-height: clamp(1.2rem, 3vw, 1.6rem);
  font-weight: 600;

}

.h4 {
  font-size: clamp(1.2rem, 3vw, 2.36rem);
  line-height: clamp(1.4rem, 3vw, 2.6rem);
  font-weight: 300;

}
.h5 {
  font-size: clamp(1rem, 2vw, 1.77rem);
  line-height: clamp(1.2rem, 2vw, 2rem);
  font-weight: 500;

}
.h6 {
  font-size: clamp(1.3rem, 1.5vw, 1.33rem);
  line-height: clamp(1.5rem, 1.5vw, 1.6rem);
  font-weight: 400;
}


p {
font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.6em;
}

.p-s{
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.p-xs{
    font-size: 0.56rem;
    font-weight: 300;
    line-height: 1.2rem;
}


.center{
    text-align: center;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.uppercase {
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;

}

.capitalize {
  text-transform: capitalize;
}
