---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import Products from "../components/organisms/Products.astro";
import FoodNav from "../components/organisms/FoodNav.astro";

---

<BaseLayout>

  <Hero />
  <div class="content">
  <div id="intro" class="wide">
    <h1 class="h1">Street Food Asiatique</h1>
    <h2 class="h6 x neutral-300">
    Daya Hendaye c’est le meilleur de la street food Vietnamienne, Thaï et Cambodgienne.
    </h2>
  </div>



<Products />



  </div>

</BaseLayout>



<style>



.content {
  background-color: var(--primary-500);
  position: relative;
  margin-top: 50vh;
  border-radius: 1rem 1rem 0 0;
  min-height: 100vh;
}

</style>
