---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/organisms/Hero.astro";

---

<BaseLayout>
	<Hero />

		<div id="intro"class="wide">
		<h1 class="h1 center">Street Food Asiatique</h1>
		<h2 class="h5 center neutral-300">Daya Hendaye c’est le meilleur de la street food Vietnamienne, Thaï et Cambodgienne. </h2>
		</div>

</BaseLayout>
