---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import ProductList from "../components/organisms/ProductList.astro";

---

<BaseLayout>

  <Hero />

  <div class="content">
  <div id="intro" class="narrow pt3 pb2 ph3 center">
    <h1 class="h1">Street Food Asiatique</h1>
    <h2 class="subtitle h6 center neutral-300">
    Daya Hendaye c’est le meilleur de la street food Vietnamienne, Thaï et Cambodgienne.
    </h2>
  </div>



<ProductList />



  </div>

</BaseLayout>



<style>



.content {
  background-color: var(--primary-500);
  margin-top: 54vh;
  border-radius: 1rem 1rem 0 0;
  min-height: 100vh;
}

#intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 80ch;
 

}

.subtitle {
  max-width: 40ch;

}

@media screen and (max-width: 768px) {

.content {
  background-color: var(--primary-500);
  margin-top: 42vh;
  border-radius: 1rem 1rem 0 0;
  min-height: 100vh;
}
  
}



</style>
