---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import Info from "../data/info.json";
---

<BaseLayout>
	<Hero />

		<div id="intro"class="wide">
		<h1 class="h1 ">Street Food Asiatique</h1>
		<h2 class="h6 x neutral-300">Daya Hendaye c’est le meilleur de la street food Vietnamienne, Thaï et Cambodgienne. </h2>
		</div>
<p> {Info.address} {Info.tel}</p>

</BaseLayout>
