---
---


<button id="hamburger" class="hamburger" aria-label="Ouvrir le menu principal">
  <div>
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
</button>


<style>


      .hamburger {
        background: none;
        border: none;
        cursor: pointer !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hamburger:focus-visible {
        outline: 2px solid var(--secondary-500);
        outline-offset: 2px;
      }
      .hamburger:focus:not(:focus-visible) {
  outline: none;
}
.hamburger .line {
  display: block;
  border-radius: 999px;
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  background-color: var(--secondary-500);
}
.hamburger .line:last-child {
  margin-bottom: 0;

}
</style>