---
---


<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>


<style>


.hamburger .line {
  display: block;
  border-radius: 999px;
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  background-color: var(--secondary-500);
}
.hamburger .line:last-child {
  margin-bottom: 0;

}
</style>