---
import LogoDayaType from "../atoms/LogoDayaType.astro";
import Info from "../../data/info.json";
import SocialLinks from "../molecules/SocialLinks.astro";
import GmapIcon from "../../assets/icons/gmaps.svg";
import LogoDayaSolo from "../atoms/LogoDayaSolo.astro";
import LogoDayaHead from "../../../public/LogoDaya-head.svg";
---

<footer class="footer">
  <div class="footer-brand-container">
<div class="footer-brand">
    <a href="/" aria-label="Accueil">
      <LogoDayaType width=250 />
    </a>
    <p class="neutral-500 bold mb0 center">De la cuisine maison avec des produits frais et de qualité. Nous proposons également des plats végétariens. Venez découvrir notre restaurant situé à deux pas de la plage d’hendaye au pays basque : )</p>

   <SocialLinks />

   <div class="footer-brand-info">
      <p class="bold center mt0 mb0"><a href={Info.gmaps} target="_blank" rel="noopener noreferrer"><GmapIcon /> {Info.address}</a></p>


      <p class="center neutral-500 mt0 mb0" set:html={Info.operatingHours.replace(/\n/g, '<br>')}></p>
   </div>
</div>

</div>
   
    <div class="footer-credits center">
 

    <p class="neutral-500 txt-s">Site éco conçu par <a href="https://soberstudio.dev/" target="_blank" rel="noopener noreferrer">Sober Studio</a></p>

    <p class="neutral-500 txt-s">Cette page a chargé en <strong><span id="load-time"></span> secondes</strong> et a émis seulement<strong> 0.095g de CO2</strong></p>

    <p class=" neutral-500 txt-s mb0">&copy; {new Date().getFullYear()} Daya Hendaye - Tous droits réservés.</p>


  </div>
</footer>

<style>
  .footer {
    background-color: var(--primary-700);
    z-index: 999;
  

  }
  .footer-brand-container{
    position: relative;
  }

  .footer-brand-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('/LogoDaya-head.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200% auto;
    opacity: 0.02;
    pointer-events: none;
    z-index: 0;
  }

  .footer-brand {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: auto;
    overflow: hidden;
    max-width: 38ch;
    min-height: 80vh;
    padding: 4rem 1rem;
    z-index: 1;
  }



  .footer-brand a[href*="google.com"] {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    outline: none;
  }

  /* Hide focus outline on mouse click, but keep it for keyboard navigation */
  .footer-brand a:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }


  .footer-credits {
  padding: 1rem 2rem;
  background-color: #091F20;
}

.footer-logo-head{

}


</style>

<script is:inline>
window.addEventListener('DOMContentLoaded', function() {
  const t = (performance.now() / 1000).toFixed(2);
  const el = document.getElementById('load-time');
  if (el) el.textContent = t;
});
</script>
<style>
