---
import LogoDayaType from "../atoms/LogoDayaType.astro";
import Info from "../../data/info.json";
import SocialLinks from "../molecules/SocialLinks.astro";
import GmapIcon from "../../assets/icons/gmaps.svg";
---

<footer class="footer">
  <div class="footer-brand">
    <a href="/" aria-label="Accueil">
      <LogoDayaType width=250 />
    </a>

  <SocialLinks />
      <p class="bold center mb0"><a href={Info.gmaps} target="_blank" rel="noopener noreferrer"><GmapIcon /> {Info.address}</a></p>
      
      <p class="center neutral-500" set:html={Info.operatingHours.replace(/\n/g, '<br>')}></p>
    


</div>
   
    <div class="footer-credits center">
 

    <p class="neutral-500 txt-s">Site éco conçu par <a href="https://soberstudio.dev/" target="_blank" rel="noopener noreferrer">Sober Studio</a></p>

    <p class="neutral-500">Cette page a chargé en <strong><span id="load-time"></span> secondes</strong> et a émis seulement<strong> 0.095g de CO2</strong></p>

    <p class=" neutral-500 txt-s mb0">&copy; {new Date().getFullYear()} Daya Hendaye - Tous droits réservés.</p>


  </div>
</footer>

<style>
  .footer {

    background-color: var(--primary-600);
    z-index: 999;
  
    
  }
.footer-brand a[href*="google.com"] {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}
  .footer-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin:auto;

    max-width: 40ch;
    padding: 6rem 1rem;
  }


  .footer-credits {
  padding: 1rem 2rem;
  background-color: var(--primary-500);
}




</style>

<script is:inline>
window.addEventListener('DOMContentLoaded', function() {
  const t = (performance.now() / 1000).toFixed(2);
  const el = document.getElementById('load-time');
  if (el) el.textContent = t;
});
</script>
<style>
