---
import HeroImage from "../../assets/Daya-Hendaye-hero.jpg";
import { Image } from "@unpic/astro";
import LogoDaya from "../atoms/LogoDaya.astro";
---

<div class="hero">
  <Image
    src={HeroImage}
    alt="Daya Hendaye Hero Image"
    class="hero-image"
    width={1600}
    height={900}
placeholder="lqip"
     layout="fullWidth"



  />

  <div class="hero-overlay"></div>
  <div class="logo-container">
    <LogoDaya class="logo-daya" />
  </div>
</div>

<style>
.hero {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.hero picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  display: block;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 54, 56, .6);
  pointer-events: none;
  z-index: 1;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo-daya {
  width: 150px;
  height: auto;
  display: block;
}
</style>