---
import { fetchProductsSheet } from "../../data/fetchProductsSheet";
import ProductCard from "../molecules/ProductCard.astro";
const products = await fetchProductsSheet();

---


<ul class="products-list">
  {products.map((product) => (
    <li >
      <ProductCard product={product} />
    </li>
  ))}
</ul>

<style>
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
 
  }
  .products-list li {
    list-style: none;
  }