---
import { fetchProductsSheet } from "../../data/fetchProductsSheet";
import ProductCard from "../molecules/ProductCard.astro";
import FoodNav from "./FoodNav.astro";
import FilterVeg from "./FilterVeg.astro";
const products = await fetchProductsSheet();
---

<FoodNav />
<FilterVeg/>


<ul class="products-list" id="products-list">
  {
    products.map((product, idx) => (
      <li data-idx={idx} data-category={product.category ? product.category.toLowerCase() : ''}>
        <ProductCard product={product} />
      </li>
    ))
  }
</ul>


<style>

.filter-switch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
    -webkit-tap-highlight-color: transparent;
}
 

  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 320px));
    gap: 1rem;
    row-gap: 3.5rem;
    justify-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 760px;
    min-width: 0;
  }

  .products-list li {
    list-style: none;
    width: 100%;
    min-width: 0;
  }

  </style>

